<?xml version="1.0"?>
<!--
/**
 * FlipDev_CustomAttributes DI Configuration
 *
 * @category  FlipDev
 * @package   FlipDev_CustomAttributes
 * @author    Philipp Breitsprecher <philippbreitsprecher@gmail.com>
 * @license   MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Plugin for Firebear Export System Attribute Source -->
    <type name="Firebear\ImportExport\Ui\Component\Listing\Column\Attribute\SystemOptions">
        <plugin name="flipdev_add_custom_attributes_system"
                type="FlipDev\CustomAttributes\Plugin\AddCustomAttributesToExportSource"
                sortOrder="100"/>
    </type>

    <!-- Plugin for Firebear Export Attribute Options -->
    <type name="Firebear\ImportExport\Ui\Component\Listing\Column\Attribute\Options">
        <plugin name="flipdev_add_custom_attributes_options"
                type="FlipDev\CustomAttributes\Plugin\AddCustomAttributesToExportSource"
                sortOrder="100"/>
    </type>

</config>
